In [10]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [11]:
CLI_df = pd.read_csv('./data/oecd_data/CLI.csv')[['INDICATOR', 'TIME', 'Value']]
BCI_df = pd.read_csv('./data/oecd_data/BCI.csv')[['INDICATOR', 'TIME', 'Value']]
CCI_df = pd.read_csv('./data/oecd_data/CCI.csv')[['INDICATOR', 'TIME', 'Value']]

In [12]:
CLI_df

  INDICATOR     TIME     Value
0       CLI  2017/12  100.4484
1       CLI   2018/1  100.5448
2       CLI   2018/2  100.6427
3       CLI   2018/3  100.7125
4       CLI   2018/4  100.7434
5       CLI   2018/5  100.7426
6       CLI   2018/6  100.7163
7       CLI   2018/7  100.6666
8       CLI   2018/8  100.5909

In [13]:
src_df = pd.read_csv('./data/source_price.csv')
src_df

,date,wsj_mean_compound,cnbc_mean_compound,fortune_mean_compound,reuters_mean_compound,Adj Close
0,2017/12/7,0.296000,-0.136600,0.000000,0.000000,2636.979980
1,2017/12/8,0.000000,0.000000,-0.242300,0.000000,2651.500000
2,2017/12/11,0.000000,0.000000,0.000000,0.000000,2659.989990
3,2017/12/12,0.000000,0.000000,0.000000,0.000000,2664.110107
4,2017/12/13,0.000000,0.000000,0.000000,0.000000,2662.850098
...,...,...,...,...,...,...
116,2018/5/25,0.030290,0.047433,0.011550,-0.025190,2721.330078
117,2018/5/29,-0.052796,0.070442,-0.025721,-0.035568,2689.860107
118,2018/5/30,-0.017367,0.038119,-0.076965,-0.063177,2724.010010
119,2018/5/31,-0.018636,0.057371,-0.064138,-0.025489,2705.270020
120,2018/6/1,0.000000,-0.061150,0.361200,-0.004489,2734.620117

In [14]:
for index, row in src_df.iterrows():
    date = row['date'].rsplit('/', 1)[0]
    src_df.at[index, 'CLI'] = CLI_df[CLI_df['TIME'] == date]['Value'].item()-100
    src_df.at[index, 'BCI'] = BCI_df[BCI_df['TIME'] == date]['Value'].item()-100
    src_df.at[index, 'CCI'] = CCI_df[CCI_df['TIME'] == date]['Value'].item()-100

In [15]:
src_df

,date,wsj_mean_compound,cnbc_mean_compound,fortune_mean_compound,reuters_mean_compound,Adj Close,CLI,BCI,CCI
0,2017/12/7,0.296000,-0.136600,0.000000,0.000000,2636.979980,0.4484,1.3452,1.3407
1,2017/12/8,0.000000,0.000000,-0.242300,0.000000,2651.500000,0.4484,1.3452,1.3407
2,2017/12/11,0.000000,0.000000,0.000000,0.000000,2659.989990,0.4484,1.3452,1.3407
3,2017/12/12,0.000000,0.000000,0.000000,0.000000,2664.110107,0.4484,1.3452,1.3407
4,2017/12/13,0.000000,0.000000,0.000000,0.000000,2662.850098,0.4484,1.3452,1.3407
...,...,...,...,...,...,...,...,...,...
116,2018/5/25,0.030290,0.047433,0.011550,-0.025190,2721.330078,0.7426,1.2187,1.5006
117,2018/5/29,-0.052796,0.070442,-0.025721,-0.035568,2689.860107,0.7426,1.2187,1.5006
118,2018/5/30,-0.017367,0.038119,-0.076965,-0.063177,2724.010010,0.7426,1.2187,1.5006
119,2018/5/31,-0.018636,0.057371,-0.064138,-0.025489,2705.270020,0.7426,1.2187,1.5006
120,2018/6/1,0.000000,-0.061150,0.361200,-0.004489,2734.620117,0.7163,1.3308,1.4417

In [16]:
src_df.to_csv('./data/source_price_sentiment_oecd.csv', index=False)